/**********partials(Header-footer) Css start-here*********/
body{
    background: white;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', Helvetica, sans-serif;
}

nav{
    background-color: white;
    border: 4px solid white;
}

footer{
    text-align: center;
    border: 5px solid white;
    margin: 2% auto;
    height: auto;
}

.content-container{
    margin: 20px auto;
    width: 90%;
    height: auto;
    min-height: 800px;
    background-color: aliceblue;
}
.text-center{
    text-align: center;
}
.success{
    color: #2ed573;
    font-weight: 700;
    background-color:white;
}
.fail{
    color: red;
    font-weight: 700;
    background-color: white;
}

a.navbar-brand img{
    width: 200px;
}

/*********buttton CSS***************/

 
 a[href='create-user.php'] button
 {
    width: 300px;
 }

 .create-user-button{
    text-align: center;
 }
 .btn-primary:hover{
    background-color: #3742fa;
 }
 .btn-secondary{
    background-color: #7bed9f;
    color: white;
    padding: 1%;
    text-decoration: none;
    border-radius: 5px;
 }
 .btn-secondary:hover{
    background-color: #2ed573;
 }


 .content-container h1{
    padding: 2%;
    margin: auto;
    text-align: center;
 }
/**********partials(Header-footer) Css end here*********/
/*-------------------------------------------------------*/
/**********Manage-user*********/
.tbl-full{
    width: 80%;
    text-align: center;
    margin: 20px auto;

}
table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
table tr td{
    padding: 2%;
    text-align: center;
}

.tbl-30{
    width: 30%;
}

/********************create user******************/

.create-container{
 width: 30%;
 height: 20%;
 margin: 5% auto;
 background-color: white;
 padding: 5%;
}

.create-container button{
    padding: 3%;
    margin: 5% auto;
    width: 100%;
}

.password-change-container{
    width: 30%;
    margin: 5% auto;
    background-color: white;
    padding: 5%;
}

.password-change-container button{
    padding: 3%;
    margin: 5% auto;
    width: 100%;
}
/********************manage-lead.php******************/

.lead-input-container {
    margin: 10px auto;
    padding: 20px 10px;
    background-color: white;
    width: 20%;
}
.lead-input-container .form-gorup {
    width: 5%;

}
.lead-input-container input[type='submit']
{
    width: 100%;
}
select[name="status"]
{
    border: 0px;
    border-radius: 10px;

}
option[value='New']{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
option[value='Working']{
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
option[value='Contacted']{
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
option[value='Qualified']{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
option[value='Failed']{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}



.status-field{
    width: 80px;
    border-radius: 12px;
    margin :1px auto;
    
}
.status-field.Working{
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;

}
.status-field.Open{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.status-field.Not_a_target{
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;

}
.status-field.Booked{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;

}
.status-field.Disqualified{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
  
.filter-buttons{
    margin: 50px auto;
}
.filter-buttons button{
    width: 100px;
    margin: 20px 20px;

}
.filter-Clinic-buttons {
    text-align: center;
    margin:10px 20px;

}
.filter-Clinic-buttons a{
    margin:20px 20px;
}

.filter-Clinic-buttons button{
    min-width: 200px;
    width: auto;
}



.manage-lead-buttons{
    width: 100%;
    text-align: center;
}
.manage-lead-buttons button  {
    width: 20%;
}
.filter-button-lead-response{
    margin-top: 20px;
    padding: 20px;
}

/********************Leads-info.php******************/

.lead-table{
    margin: 4% auto;
    border: 2px solid  black;
    width: 95%;
}

.lead-table tbody tr th  {
    padding: 1%;
}

.lead-table-buttons{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    text-align: center;
}
lead-table-buttons button{
   width: 100%;
}

.lead-table-buttons a {
    width: 20%;
    margin: 2% auto;
    padding: 2%;
}

/******lead - update -php ********/
.leads-p-info-container{
    width: 80%;
    margin: 1% auto;
    height: 80%;
    background-color: white;
}
.leads-p-info-container label, input{
    margin : 2% auto;
    font-weight: 600;
}
.leads-buttons-holder {
    width: 80%;
    margin: 1% auto 2%;
    text-align: center;

}
.leads-buttons-holder a{
    width: 5px;
}

.leads-buttons-holder  button {
    margin: 2%  2%;
    justify-content: center;
    width: 20%;
}

.update-button{
    text-align: center;
}
.update-button button{
    margin: 2%;
    width: 10%;
}

/******lead - agent -php ********/

.lead-agent-info-container table{
    background-color: white;
    margin: 2% auto;
    width: 80%;
}

.lead-agent-info-container table tr textarea{
 resize: none;
}
.agent-button-2{
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: white;
}
.agent-button-2 button{
    text-align: center;
    width: 20%;
}
/******lead-status-php ********/



.lead-update-status-container table{
    background-color: white;
    margin: 2% auto;
    width: 80%;
}
.lead-update-status-container table tr textarea{
    resize: none;
   }
.lead-update-status-container{
    padding: 20px 20px;
}
.lead-update-status-container table tr td select{
    width: 100%;
}
/************dashboard-status**********/
.dashboard-items{
    width: 80%;
    margin: 5% auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self:  center;
    justify-content: space-around;
    place-self: center;
    row-gap: 10%;
    
}

.dashboard-items .card-title {
 
    text-align: center;
    font-size: x-large;
}
.dashboard-items .card-text {
 
    text-align: center;
    font-size: x-large;
    margin-top: 10%;
}

.user-name-container{
    text-align: right;
    color: black;
    font-style: italic;
    font-weight: 500;
}
.card {
    border-radius: 15px;
    box-shadow: 2px 10px black;
}

.dashboard-graph{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self:  center;
    justify-content: space-around;
    row-gap: 10%;
    margin:  10px auto;
    padding: 5%;
}
.dashboard-line-graph
{
    width: 50%;
    margin: 50px auto;
}
.dashboard-pie-graph{
    width: 50%;
    margin: 50px auto
}
/**************manage-docotor***********/

.add_doctor{
    width: 100%;
    text-align: center;
    margin: 15px;
}
.add_doctor_department{
    width: 100%;
    text-align: center;
    margin: 15px;
}

#Add.btn.btn-primary{
    width: 300px;
}

/*****************************user-clinic-lead.php ********************/


.clinic-name-container {
    font-size: 72px;
    background: linear-gradient(to right, #001871 ,#0586C8, #A5D8EB ); 
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

/**********************************user-manage-lead.php **********************/